<% if (obj.type === "model") { %>
<div class="admin-column-header">
    <img style="border-radius: 7px" height=100 src="images/preview.png" onclick="open3dViewer()"/>
</div>
<% } else { %>
<div class="admin-column-header">
    <img style="border-radius: 7px" height=100 src="images/preview.png" onclick="open3dViewer()"/>
</div>
<% } %>
<div class="admin-column-header">
</div>
<div class="admin-column-header">
</div>
<div class="admin-column-header">
</div>