<div class="footer-links">
  <a href="<%= config.BASE_URL %>/about">About</a> |
  <a href="<%= config.BASE_URL %>/contact">Contact</a> |
  <a href="<%= config.BASE_URL %>/terms-of-service">Terms</a> |
  <a href="<%= config.BASE_URL %>/privacy-policy">Privacy</a>
</div>
<div class="footer-info">&copy; 2025 Hephillu3d</div>