<div class="content-column-container gallery-image-container ">
    <div class="image">
        <img src="<%= url %>" />
    </div>
    <div class="name"><%= name %></div>
    <div class="description"><%= description %></div>
    <div class="select-button">
        <button id="select-button" class="button">Select</button>
    </div>
</div>