<div class="admin-container">
    <div class="options-container">
        <div class="option">
            <a href="<%= config.BASE_URL %>/admin/meshy">Meshy</a>
        </div>
        <div class="option">
           <a href="<%= config.BASE_URL %>/admin/model">Model</a> 
        </div>        
        <div class="option">
            <a href="<%= config.BASE_URL %>/admin/users">Users</a>
        </div>
    </div>
    <div class="view-container">
        <%- htmlAdminView %>
    </div>
</div>