<div class="flex-column ">    
    <div class="content-container admin-content-container">
        <div class="content-column-container admin-content-container">
            <div class="flex-row">
                <div class="admin-column-header">
                    Preview
                </div>
                <div class="admin-column-header">
                    Preview
                </div>
                <div class="admin-column-header">
                    Preview
                </div>
                <div class="admin-column-header">
                    Preview
                </div>
            </div>
            <div class="flex-row">
                <hr/>
            </div>
            <%- htmlAdminRows %>
            <hr/>
        </div>
    </div>
</div>