<div class="tabbed-view-container">
  <div class="options-container">
        <div class="option">
            <a href="<%= config.BASE_URL %>/settings/account">Account</a>
        </div>        
    </div>
    <div class="view-container">
        <%- htmlSettingsView %>
    </div>
</div>