<div class="sign-up-container">
    <div class="sign-up-title-container">
        <div class="sign-up-title-text">Sign Up!</div>
    </div>
    <div class="content-container sign-up-content-container">
        <div class="content-column-container">
            <div class="content-column-title">
                Account Details
            </div>
            <div class="labeled-textbox-container">
                <div class="labeled-textbox-label">
                    Email
                </div>
                <input class="labeled-textbox-input" maxlength="63" id="email"/>
            </div>
            <div class="labeled-textbox-container">
                <div class="labeled-textbox-label">
                    Password
                </div>
                <input class="labeled-textbox-input" maxlength="63" type="password" id="password-1"/>
            </div>
            <div class="labeled-textbox-container">
                <div class="labeled-textbox-label">
                    Confirm Password
                </div>
                <input class="labeled-textbox-input" maxlength="63" type="password" id="password-2"/>
            </div>
            <div class="content-column-radio-button-list-item">
                <input
                    type="checkbox"
                    id="terms-checkbox"
                    name="terms-checkbox"
                />
                <label for="terms-checkbox" id="terms-checkbox-label" class="content-column-radio-button-label sign-up-checkbox-label">I have read and agree to Hephillu3d's</label>                
            </div>    
            <div class="content-column-radio-button-sublabel sign-up-checkbox-label"><a href="terms-and-conditions">Terms and Conditions</a></div>
            <div class="content-column-radio-button-list-item">
                <input
                    type="checkbox"
                    id="privacy-checkbox"
                    name="privacy-checkbox"
                />
                <label for="privacy-checkbox" id="privacy-checkbox-label" class="content-column-radio-button-label sign-up-checkbox-label">I have read and agree to Hephillu3d's</label>                
            </div>    
            <div class="content-column-radio-button-sublabel sign-up-checkbox-label"><a href="privacy-policy">Privacy Policy</a></div>     
        </div>        
    </div>
    <div class="sign-up-button-container">
        <button class="sign-up-button" onclick="handleSignUp()">
            Sign Up
        </button>
    </div>
    <div class="sign-up-error-container" id="sign-up-error-container">        
    </div>
</div>
<script>
const emailTextBox = document.getElementById("email");
const password1TextBox = document.getElementById("password-1");
const password2TextBox = document.getElementById("password-2");

const termsCheckBox = document.getElementById("terms-checkbox");
const privacyCheckBox = document.getElementById("privacy-checkbox");

const allowedNumValues = "0123456789";


const setFieldError = function (fieldLabel) {
  fieldLabel.style.borderColor = "red";
  fieldLabel.style.backgroundColor = "mistyrose";
};

const setFieldOk = function (fieldLabel) {
  fieldLabel.style.borderColor = "rgb(127,127,127,0.4)";
  fieldLabel.style.backgroundColor = "white";
};

const handleSignUp = async function () {
  var errors = [];
  if (
    !/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailTextBox.value)
  ) {
    setFieldError(emailTextBox);
    errors.push("invalid email address");
  } else {
    setFieldOk(emailTextBox);
  }

  if (password1TextBox.value !== password2TextBox.value) {
    setFieldError(password1TextBox);
    setFieldError(password2TextBox);
    errors.push("passwords do not match");
  } else if (password1TextBox.value.length < 8) {
    setFieldError(password1TextBox);
    setFieldError(password2TextBox);
    errors.push("password too short");
  } else {
    setFieldOk(password1TextBox);
    setFieldOk(password2TextBox);
  }

  if (!termsCheckBox.checked) {
    const termsCheckBoxLabel = document.getElementById("terms-checkbox-label");
    termsCheckBoxLabel.style.color = "red";
    errors.push("You must agree to the Terms and Conditions.");
  } else {
    const termsCheckBoxLabel = document.getElementById("terms-checkbox-label");
    termsCheckBoxLabel.style.color = "black";
  }

  if (!privacyCheckBox.checked) {
    const privacyCheckBoxLabel = document.getElementById(
      "privacy-checkbox-label"
    );
    errors.push("You must agree to the Privacy Policy.");
    privacyCheckBoxLabel.style.color = "red";
  } else {
    const privacyCheckBoxLabel = document.getElementById(
      "privacy-checkbox-label"
    );
    privacyCheckBoxLabel.style.color = "black";
  }
  const signUpErrorContainer = document.getElementById(
    "sign-up-error-container"
  );
  signUpErrorContainer.innerHTML = "";
  for (let i = 0; i < errors.length; i++) {
    signUpErrorContainer.innerHTML += errors[i] + "<br/>";
  }

  if (errors.length > 0) {
    return;
  }

  const body = JSON.stringify({
    user: {
      email_address: emailTextBox.value,
      password: password1TextBox.value,
    },    
  });

  const url = "<%= config.BASE_URL %>/api/sign-up";
  const res = await fetch(url, {
    headers: { "Content-Type": "application/json" },
    method: "POST",
    body: body,
  });
  if (res.ok) {
    const json = await res.json();
    window.location.href = json.nextStep;
  } else {
    const json = await res.json();
    signUpErrorContainer.innerHTML = json.message;
  }
};
</script>